html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #616b73f5;
    padding: 10px 10px;
    font-size: 1.2em;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5;
    font-size: 20px;
}

.navbar-default a {
    color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #FFF;
}

#home {
    background: url(/images/marble.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: right 50px;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
}

.padding img{
    width: 100%;
}

#fixedImg {
    background: url(/images/sunset.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.bottom-buffer{
    margin-bottom: 30px
}

.btn-lg{
    margin-top: 15px
}

i{
    color: #337ab7
}

.fab, .fas{
    margin: 5px 10px
}

form{
    padding: 0 10px;
}

#name {
    padding-bottom: 40px;
}

footer{
    padding-bottom: 50px;
}